<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>

    <div id="listOfShows">
        <div class="title redBg">
            <div class="content">
                <h1><%= SubpageTitle %></h1>
            </div>
        </div>

        <div class="shows">
            <div class="content movies">
                <h1 class="redText"><%= OnAirEvents %></h1>
                <% if(typeof OnAirShows[0]!='undefined' ? false : true) { %>
                    <h2 class="gray"><%= NoOnAirEvents %></h2>
                <% } %>
                <% for(let i = 0; i < OnAirShows.length; i++) { %>
                    <a href="/zive/<%= SanitizeStringToUrl(OnAirShows[i].title) %>/<%= OnAirShows[i].id %>" class="item redUnderline">
                        <img src="<%= OnAirShows[i].cover %>" alt="<%= OnAirShows[i].title %>" />
                        <h2><%= OnAirShows[i].title %></h2>
                        <span class="author"><%= EventStart %>&nbsp;<%= (OnAirShows[i].eventStart).toLocaleString('sv') %></span>
                    </a>
                <% } %>

                <h1><%= UpcomingEvents %></h1>
                <% if(typeof UpcomingShows[0]!='undefined' ? false : true) { %>
                    <h2 class="gray"><%= NoUpcomingEvents %></h2>
                <% } %>
                <% for(let i = 0; i < UpcomingShows.length; i++) { %>
                    <a href="/zive/<%= SanitizeStringToUrl(UpcomingShows[i].title) %>/<%= UpcomingShows[i].id %>" class="item redUnderline">
                        <img src="<%= UpcomingShows[i].cover %>" alt="<%= UpcomingShows[i].title %>" />
                        <h2><%= UpcomingShows[i].title %></h2>
                        <span class="author"><%= EventStart %>&nbsp;<%= (UpcomingShows[i].eventStart).toLocaleString('sv') %></span>
                    </a>
                <% } %>
            </div>
        </div>
    </div>

    <% include partials/footer %>
</body>
</html>
