<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>

    <div id="listOfShows">
        <div class="title blueBg">
            <div class="content">
                <h1><%= MostWatched %></h1>
            </div>
        </div>

        <div class="shows">
            <div class="content">
                <% for(let i = 0; i < MostWatchedShows.length; i++) { %>
                <a href="/porad/<%= SanitizeStringToUrl(MostWatchedShows[i].title) %>" class="item">
                    <img src="<%= MostWatchedShows[i].cover %>" alt="<%= MostWatchedShows[i].title %>" />
                    <h2><%= MostWatchedShows[i].title %></h2>
                </a>
                <% } %>
            </div>
        </div>
    </div>

    <!-- RSS reader from piratskelisty.cz -->
    <div id="topics">
        <div class="title">
            <div class="content">
                <h1><a href="https://www.piratskelisty.cz/"><%= Topics %></a></h1>
            </div>
        </div>

        <div class="topicsContent">
            <div class="content">
            <% for(let i = 0; i < RssTopics.length; i++) { %>
                <a href="<%= RssTopics[i].link %>">
                <div class="item">
                    <h1><%= RssTopics[i].title %></h1>
                    <p><%- RssTopics[i].description %></p>
                    <p class="readMore"><%= ReadMore %></p>
                    <span><%= RssTopics[i].category %></span>
                    <span class="right"><%= FormatDateTimeToCZ(RssTopics[i].pubDate) %></span>
                </div></a>
            <% } %>
            </div>
        </div>
    </div>

    <% include partials/footer %>
</body>
</html>
