<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include partials/headAdmin %>
</head>

<body>
    <% include partials/header %>

    <div id="listOfShows">
        <div class="title blackBg">
            <div class="content">
                <h1><%= SubpageTitle %></h1>
            </div>
        </div>

        <div id="loginContainer">
            <div>
                <form method="POST" action="/tajemstvi/auth">
                    <input type="hidden" name="urlToRedirect" value="<%= SubpageUrl %>" />
                    
                    <div class="field">
                        <%= Email %><br />
                        <input type="text" name="email" />
                    </div>
                    <div class="field">
                        <input type="submit" value="<%= LoginSubmit %>" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <% include partials/footer %>

    <script type="text/javascript">
        if("<%= loggedOutMessage %>" != "") {
            $.notify.addStyle('eje', {
                html: "<div>ă?¤<span data-bootstrap-base/>ă?¤</div>",
                classes: {
                    base: {
                    "border-radius": "none",
                    },
                }
            });

            $.notify("<%= loggedOutMessage %>", "<%= loggedOutMessageType %>", {
                style: 'eje'
            });
        }
    </script>
</body>
</html>
