<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>

    <!-- Page content START -->
    <div id="listOfShows">
        <div class="title purpleBg">
            <div class="content">
                <h1><%= SubpageTitle %></h1>
            </div>
        </div>

            <% if(ShowDetails.youtube == null || ShowDetails.youtube == "") { %>
            <div id="playerContainer">
                <video src="<%= ShowDetails.video %>" id="player" playsinline controls>                    
                    <% if(ShowDetails.captions != null && ShowDetails.captions != "") { %>
                    <track kind="captions" label="Čeština" src="<%= ShowDetails.captions %>" srclang="cs" default />
                    <% } %>
                </video>
            <% } else { %>
                <div id="playerContainer" class="youtube">
                <iframe id="player" src="https://www.youtube.com/embed/<%= ShowYoutubeVideoId %>"></iframe>
            <% } %>
        </div>

        <div id="showDescription">
            <div class="content">
                <h1><%= ShowDetails.title %></h1>
                <span class="author"><a href="<%= ShowDetails.authorUrl %>"><%= ShowDetails.author %></a></span>
                <p><%- ShowDetails.description -%></p>
                <p>Licence: <a href="<%= ShowDetails.licenseUrl %>"><%= ShowDetails.license %></a></p>
                <span class="sourceLink"><%= SourceLink %>&nbsp;<a href="<%= ShowDetails.url %>"><%= ShowDetails.url %></a></span>
            </div>
        </div>

        
        <% if(ShowDetails.youtube != null && ShowDetails.youtube != "") { %>
            <script type="text/javascript">
                showPlyrYT('<%= ShowDetails.youtube %>');
            </script>
        <% } else if(ShowDetails.vimeo != null && ShowDetails.vimeo !="") { %>
            <script type="text/javascript">
                showPlyrYT('<%= ShowDetails.vimeo %>', "vimeo");
            </script>
        <% } else { %>
            <script type="text/javascript">
                showPlyrVideo('<%= ShowDetails.video %>');
            </script>
        <% } %>

        <script type="text/javascript">
            jQuery(function ($) {
                $('#showDescription .content').autolink();
            });
        </script>

    <!-- Page content END -->

    <% include partials/footer %>
</body>
</html>
