<div id="bottomlinks">
    <div class="content">
        <ul>
            <li>
                <a href="/porady"><%= Menu.Shows %></a>
            </li>
            <li>
                <a href="/zive"><%= Menu.LiveStreams %></a>
            </li>
            <li>
                <a href="/porady/Z%C3%A1znamy%20zased%C3%A1n%C3%AD"><%= Menu.MeetingRecordings %></a>
            </li>
            <li>
                <a href="/filmy"><%= Menu.Movies %></a>
            </li>
            <li>
                <a href="/pocasi"><%= Menu.Weather %></a>
            </li>
        </ul>
        

        <div class="rightCol">
            <%= Footer.WatchUsAlso %><br />
            <a href="https://www.facebook.com/PiratskaTelevize/" id="facebook">
                <div title="Facebook"></div>
            </a>
            <a href="https://www.youtube.com/channel/UChyBxYiAZD-KiBecgQo5KxQ" id="youtube">
                <div title="YouTube"></div>
            </a>
            <br />&nbsp;<br />
            <a href="https://github.com/PirateTV/ServerApp/blob/master/LICENSE.md"><span class="copyleft">&copy;</a></span>&nbsp;<%= Header.Title %> 2020 | <a href="#"><%= Footer.ScrollUp %></a>
        </div>
    </div>
</div>
<!--
<div id="footer">
    <div class="content">
        <span class="copyleft"><a href="https://github.com/PirateTV/ServerApp/blob/master/LICENSE.md">&copy;</a></span>&nbsp;<%= Header.Title %> 2020 | <a href="#"><%= Footer.ScrollUp %></a>
    </div>
</div>
-->