<div id="header" class="blackBg">
    <div class="content">
        <a href="/"><img src="/images/logoAdmin.png" id="logo" alt="logo Pirátské televize" /></a>

        <div class="rightCol" id="menu">
            <!--<a href="/porady" class="linkShows"><%= Menu.Shows %></a>
            <a href="/regiony" class="linkRegions"><%= Menu.Regions %></a>
            <a href="/zive" class="linkStreams"><%= Menu.LiveStreams %></a>
            <a href="/filmy" class="linkMovies"><%= Menu.Movies %></a>
            <a href="/pocasi" class="linkWeather"><%= Menu.Weather %></a>
            <a href="/o-nas"><%= Menu.About %></a>-->
            <a href="/tajemstvi/events" class="linkStreams whiteText"><%= MenuAdmin.LiveStreams %></a>
            <a href="/tajemstvi/movies" class="linkMovies whiteText"><%= MenuAdmin.Movies %></a>
            <a href="/tajemstvi/logout" class="whiteText"><%= MenuAdmin.Logout %></a>
        </div>
        <div class="rightCol mobile whiteText" onclick="javascript: hideShow('menu'); hideShow('mobileMenuUnder');">
            <a href="#">☰</a>
        </div>
    </div>
</div>
<div id="headerSpacer"></div>

<div id="mobileMenuUnder" onclick="javascript: hideShow('menu'); hideShow('mobileMenuUnder');"></div>