  <meta charset="utf-8">
  <meta name="author" content="Ondřej Kotas" />
  <meta name="description" content="<%= SubpageDescription %>" />
  <meta name="keywords" content="pirátská,televize,strana,piráti,video,audiovizuální,politika,politická," />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title><%= SubpageTitle %> - <%= Header.Title %></title>

  <link href="/bower_components/open-sans-fontface/open-sans.css" rel="stylesheet" type="text/css" media="screen,projection" />
  <link rel="stylesheet" href="/css/teletext.css" type="text/css" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="screen,projection" />
  <link rel="stylesheet" href="/css/plyr.css" type="text/css" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link href="/favicon.ico" rel="icon" />
  
  <meta property="og:title" content="<%= SubpageTitle %> - <%= Header.Title %>" />
  <meta property="og:description" content="<%= SubpageDescription %>" />
  <meta property="og:image" content="<%= SubpageCover %>" />
  <meta property="og:url" content="<%= SubpageUrl %>" />
  <meta name="twitter:title" content="<%= SubpageTitle %> - <%= Header.Title %>">
  <meta name="twitter:description" content="<%= SubpageDescription %>">
  <meta name="twitter:image" content="<%= SubpageCover %>">
  <meta name="twitter:card" content="summary_large_image">

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.hidenshow.js"></script>
  <script type="text/javascript" src="/js/plyr.3.5.6.js"></script>
  <script type="text/javascript" src="/js/jquery.plyr.js"></script>
  <script type="text/javascript" src="/js/notify.min.js"></script>
  <script type="text/javascript" src="/js/jquery.autolink.js"></script>